<div id="mainArea">
<h1>Welcome to the CIS Boolean Logic Practice Site!</h1>
<p id="mainDirections">Directions: Select an scenario below to display the topic you want to practice...</p>
<button id="TruthToExpressionBTN" type="button" class="btn btn-dark">Truth Table to Expression</button>
<button id="ExpressionToTruthBTN" type="button" class="btn btn-dark">Expression to Truth Table</button>
<button id="CircuitToTruthBTN" type="button" class="btn btn-dark">Circuit to Truth Table</button>
<button id="CircuitToExpressionBTN" type="button" class="btn btn-dark">Circuit to Expression</button>
<button id="ExpressionToCircuitBTN" type="button" class="btn btn-dark">Expression to Circuit</button>
<button id="TruthToCircuitBTN" type="button" class="btn btn-dark">Truth Table to Circuit</button>
<button id="RandomBTN" type="button" class="btn btn-dark">Surprise Me!</button>
</div>

<div id="problemArea">
    <p id="problemDirections">No Practice Problem Selected!</p>
    <div id="equation"></div>
    <div id="circuit"></div>
    <div id="tryagain">
        <input type="submit" id="TryAgainBTN" value="Try Again">
    </div>
    <img id="wolfram"></img>
    <div id="problem"></div>
    <div id="circuitVerse"> 
        <object type="text/html" data="https://circuitverse.org/simulator" width="800px" height="600px" style="overflow:auto;border:5px ridge blue">
        </object>
    </div>
</div>
<div id="answer"></div>
<p id="resultText"></p>
<div id="submit">
    <input id="AnswerField" name="Answer" type="text" >
    <input type="submit" id="SubmitBTN" value="Submit">
    <input type="submit" id="ShowBTN" value="Show Generated Answer?">
    <input type="submit" id="NewBTN" value="Next Problem">
</div>

<%= javascript_pack_tag "problemSelection", 'data-turbolinks-track': 'reload' %>


