// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html{
    text-align: center;
}
body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.btn .btn-dark{
    margin: 5px;
}
#mainArea{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: darkblue;
    padding: 20px; 
    text-align: center;
}
h1 {
    text-align: center;
    color: white;
}
#mainDirections {
    text-align: center;
    color: white;
}
#truthresult{
    text-align: center;
}
#equation {
    text-align: center;
}
#tryagain {
    text-align: center;
}
@keyframes blink{
    50% {
        opacity: 0;
    }
    80% {
        opacity: 0.5;
    }
}
#circuit{
    text-align: center;
    animation: blink 1s linear infinite;
}
#problemDirections {
    text-align: center;
}
#problemArea{
    background-color: lightgrey;
    padding: 20px;
    font-weight: bolder;
    text-align: center;
}
#submit{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: darkblue;
    padding: 20px; 
    text-align: center;
}
#resultText{
    text-align: center;
    background-color: lightgrey;
    color: white;
    font-weight: bolder;
    margin-bottom: 0px;

}
#wolfram{
    border-image: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
td {
    padding: 15px 15px 15px 15px;
    text-align: center;
    border: 1px solid black;
}
td:nth-child(1) {  
    border: none;
}
td:last-child{
    border: 3px solid black;
}
#userInput{
    text-align: center;
}